/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-crypto-ticker {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
	display: block;
	width: fit-content;
  padding: 8px 12px;
  background: #1e1e1e;
  color: #f1f1f1;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background 0.3s ease;

	.currency {
		color: green;
	}
}
